.site-header {
    width: 100%;
    background: var(--background);
    position: sticky;
    top: 1rem;
    transition: var(--transition);
    
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem 1rem 1.5rem;
    transition: var(--transition);
}

.site-header .img-wrapper{
    width: auto;
    height: 50px;
}

.site-header .img-wrapper img {
    width: auto;
    height: 100%;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-bar .button:hover {
    color: var(--popover) !important;   
}

.nav-menu {
    display: flex;
    gap: 1.5rem;
}

.current-menu-item a {
    color: var(--primary);
    font-weight: var(--font-weight-medium);
    text-decoration: underline;
    transition: var(--transition);
}


.nav-menu a:hover {
  color: var(--primary);
  transform: translateY(-2px);
}

